<h1>Confirmation</h1>

<p>You're almost done requesting the vhost <code>{{ .Domain }}</code>!</p>

<p>To confirm this vhost, please download <a href="/json/{{.ID}}">this json file</a> and put it on your server as <code>{{ .Domain }}/vhost.json</code> and then click <a href="/confirm/{{.ID}}">here</a> to have the server check for it.</p>
