<link href="/css/signin.css" rel="stylesheet">

      <form class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading">Please Login</h2>
        <input type="username" class="form-control" placeholder="Username" required autofocus name="username">
        <input type="password" class="form-control" placeholder="Password" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
