#! stdtmpl
#proc baseTemplate(content: string, title: string = "Niichan"): string =
#  result = ""
<!DOCTYPE html>
<html>
	<head>
#if title != "Niichan":
		<title>$title - Niichan</title>
#else:
		<title>Niichan</title>
#end if
		<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<nav class="light-blue lighten-1" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Niichan</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/meta/rules">Rules</a></li>
					<li><a href="/meta/chat">Chat</a></li>
				</ul>
			</div>
		</nav>

		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
			$content
			</div>
		</div>

		<footer class="page-footer orange">
			<div class="footer-copyright">
				<div class="container">
					Source code <a class="orange-text text-lighten-3" href="https://github.com/Xe/niichan">here</a>.
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
	</body>
</html>
# end proc
